.img-container {
    position: relative;
}
.jump{
    display: block;
    position: absolute;
    top:-30px;
    left:50%;
}
.jumpto {
    display:block;
}
.what-i-did {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;    
}
.summary-container {
    text-align: center;
}
.summary {
    display: inline-block;
    max-width: 900px;
    padding-top: 30px;
    text-align: left;
}
.summary li {
    display: block;
    line-height: 1.3;
}
.desc {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#3578CC;
    min-width: 250px;
}
img{
    width:100%;
}

@media all and (min-width: 600px) {
    .i-am {
        font-size: 35px;
        font-style: italic;
        text-align: center;
    }
    .raymond-huang{
        font-size: 45px;
        font-weight: 700;
        white-space: nowrap;
        line-height: normal;
    }
}
@media all and (max-width: 599px) {
    .jump{
        display: none;
    }
    .summary {
         padding-top: 0px;
    }    
    .summary-container {
        margin: 20px;
    }    

    .i-am {
        font-size: 15px;
        font-style: italic;
        text-align: center;
    }
    .raymond-huang{
        font-size: 30px;
        font-weight: 700;
    } 
}

