<div class="img-container">
    <div class="jump">
        <a href="#jump" >
            <svg class="bi bi-chevron-compact-down" width="5em" height="5em" viewBox="0 0 20 20" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.553 8.776a.5.5 0 01.67-.223L10 11.44l5.776-2.888a.5.5 0 11.448.894l-6 3a.5.5 0 01-.448 0l-6-3a.5.5 0 01-.223-.67z" clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>    
    <img class="mySlides" src="{{imgUrl1}}">
    <img class="mySlides" src="{{imgUrl2}}">
    <div class="desc">
        <div class="i-am">Hey, I'm</div>
        <div class="raymond-huang">Raymond Huang</div> 
    </div>
</div>

<div  class="summary-container">
    <a name="jump" class="jumpto"></a>

    <ul class="summary">
        <li> 
            Over 20 years experience in Information Technology (10 years in front end development) that covered all facets of programming
        </li>
        <li>
            Proficient in Angular, JavaScript, Typescript, jQuery, HTML CSS
        </li>
        <li>
            Extremely high ability on critically analyze complex problems and debugging skill
        </li>
        <li>
            Excellent programmer with proven ability to develop robust programs in timely manner
        </li>
        <li>
            Demonstrated ability to learn and use new computer languages expeditiously
        </li>
    </ul>
</div>
<p class="what-i-did">
    <svg height="5" width="60">
    <line x1="0" y1="0" x2="60" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg><strong>&nbsp;Here's what I've done so far&nbsp;</strong>
  <svg height="5" width="60">
    <line x1="0" y1="0" x2="60" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg>
</p>

<app-employment-detail></app-employment-detail>
<app-art></app-art>
