<div class="demo-container">
    <div appFlexbox>
        <div appFlexItem appHoverItem [flex]="'0 1 200px'">
            <mat-form-field>
                <mat-label>Your selection</mat-label>
                <mat-select  (selectionChange)="renderNewResult($event)">
                    <mat-option *ngFor="let name of names" [value]="name">
                    {{name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>    
        </div>
        <div  appFlexItem class="add-border"  [innerHTML]="currSnip | keepHtml"></div>
    </div>
    <div [ngSwitch]="true">
        <div *ngSwitchCase="flag == 'Input' || flag =='Output' || flag =='ViewChild'">
            <div appFlexbox>
                <button mat-raised-button color="primary" appFlexItem [flex]="'0 1 100px'" (click)="startClock(!indicator,userListComponent)">{{buttonMsg}}</button>
                <app-user-list appFlexItem [parentClick]="parentClick" (onSelect)="onSelect($event)"></app-user-list>
            </div>
            <app-user  [user]="user"></app-user>
            <app-user-applications  [user]="user"></app-user-applications>
        </div>
        <div *ngSwitchCase="flag == 'ViewChildren'">
            <button mat-raised-button color="primary" (click)="changeMessage(0)">{{viewChildrenButton[0]}}</button>
            <button mat-raised-button color="primary" (click)="changeMessage(1)">{{viewChildrenButton[1]}}</button>
            <button mat-raised-button color="primary" (click)="changeMessage(2)">{{viewChildrenButton[2]}}</button>
            <app-show-case [inputHolder]="inputHolder"></app-show-case>
            <app-show-case [inputHolder]="inputHolder"></app-show-case>
            <app-show-case [inputHolder]="inputHolder"></app-show-case>
        </div>
        <div *ngSwitchDefault>
            <!-- <button mat-raised-button color="primary" (click)="startClock(!indicator,showCaseComponent)">{{buttonMsg}}</button> -->

            <app-show-case [inputHolder]="inputHolder"></app-show-case>
        </div>
    </div>

</div>

<table *ngIf="group=='array'" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name.first">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name.first}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name.last">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name.last}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> isActive </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> company </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="eyeColor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> eyeColor </th>
      <td mat-cell *matCellDef="let element"> {{element.eyeColor}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator *ngIf="group=='array'" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>