<div>
    <h3>Understand ‘+’, ‘>’ and ‘~’ symbols in CSS Selector</h3>
    <button (click)="renderNewResult('space')" class="space">div p</button>
    <button (click)="renderNewResult('greater_Sign')" class="greater_Sign">div > p</button>
    <button (click)="renderNewResult('plus_Sign')" class="plus_Sign">div + p</button>
    <button (click)="renderNewResult('aprox_Sign')" class="aprox_Sign">div ~ p</button>    
    <button (click)="renderNewResult('first_p')" class="first_p">div p:first-child</button>    
</div>
<div class="main">
    <textarea name="comments" rows="11">
        <div>
            <p>First Paragraph inside div tag</p>
            <div>
                <section>
                    <p>Paragraph inside section</p>
                </section>
            </div>
            <p>First Paragraph following right after div tag</p>
            <p>Second Paragraph following after div tag<p>
        <div>
    </textarea>
    <div class="show-case">
        <div>
            <p>First Paragraph inside div tag</p>
            <div>
                <section>
                    <p>Paragraph inside section</p>
                </section>
            </div>
            <p>First Paragraph following right after div tag</p>
            <p>Second Paragraph following after div tag<p>
        <div>
    </div>
    
</div>

