<div class="main">
  <app-main-nav [parentClick]= "parentClick">
    <mat-toolbar appFlexbox [mobileDisplay]="'none'" class="nav-bar" color="primary">

      <div>
        <button mat-button routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon></button>
        <button mat-button routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</button>
        <button mat-button routerLink="/others" routerLinkActive="active">OTHERS</button>
        <button mat-button routerLink="/library" routerLinkActive="active" [matMenuTriggerFor]="afterMenu">LIBRARY</button>
        <mat-menu class="submenu" #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item routerLink="/library/Angular" >Angular</button>
          <button mat-menu-item routerLink="/library/Rxjs" >Rxjs in Angular</button>
          <button mat-menu-item routerLink="/library/javaScript">Javascript</button>
          <button mat-menu-item routerLink="/library/jQuery" >JQuery</button>
          <button mat-button routerLink="/library/css" routerLinkActive="active">CSS</button>
        </mat-menu>
        <!--button mat-button routerLink="/assets" routerLinkActive="active">LIBRARY ASSETS</button-->

        <button mat-button routerLink="/login" routerLinkActive="active">PRIVATE</button>
        <button mat-button *ngIf="isLoggedIn" id="logout" (click)="logout()">LOGOUT</button>
    
      </div>
      <a  mat-button href="https://github.com/raymondlwhuang/main" target="_blank">Source</a>
      
    </mat-toolbar>  
</app-main-nav>
</div>
<div class="router-container" (click)="closeSideNav()">
  <router-outlet></router-outlet>
</div>
<footer>Make with Angular</footer>