
<div appFlexbox [flexFlow]="'column wrap'" [justifyContent]="'center'">
    <div *ngFor="let employment of employments">
        <div  appFlexbox class="employment-inner-box">
            <div class="employment-left">
                <img src='{{ employment.imgUrl }}'>
            </div>
            <div class="employment-right">
                <p class="company">{{ employment.company}}</p>
                <p class="period">{{ employment.period }}</p>
                <p class="location">{{ employment.location }}</p>
                <div class="detail">
                    <div class="title">{{ employment.detail.title }}</div>
                    <ul>
                        <li  *ngFor="let responsDetail of employment.detail.responsibilitie">{{responsDetail}}	
                        </li>
                    </ul>
                 </div>
                            
            </div>    
        </div>
        <div class="line">
            <svg height="5" width="300">
                <line x1="0" y1="0" x2="300" y2="0" style="stroke:#ccc;stroke-width:2" />
                Sorry, your browser does not support inline SVG.
            </svg>
    
        </div>

    </div>
</div>