<div class="demo-container">
    <h3>MongoDB</h3>
    <ul>
        <li>Download and install nodejs</li>
        <li>make directory 'backend'</li>
        <li>cd backend</li>
        <li>npm install express mongoose</li>
        <li>create app.js</li>
        <li>npm install -g nodemon</li>
        <li>nodemon app.js</li>
    </ul>
</div>
<div class="demo-container">
    <h3>Angular</h3>
    <ul>   
        <li>npm install -g bootstrap @angular/cli@8.3.26 @angular/forms --save</li>
        <li>npm install -g npm-install-peers</li>
        <li>ng new frontend</li>
        <li>npm install --save @angular/material @angular/cdk @angular/animations hammerjs</li>
        <li>npm i @trademe/ng-defer-load</li>
        <li>npm install -g @ngrx/store @ngrx/effects @ngrx/entity @ngrx/store-devtools @ngrx/router-store --save 
        </li>
        <li>update angular.json
            "styles": [
              "node_modules/bootstrap/dist/css/bootstrap.min.css",
              "styles.scss"
            ]</li>
    </ul>
    <ul>
        <li>steps for upgrad to version 9</li>
        <li>npm install --no-save @angular/cli@^8.3.15</li>
        <li>ng update @angular/cli @angular/core --next</li>
    </ul>
</div>
