<div class="demo-container">
    <form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">
        <figure>
            <div appMediaQueryFlexbox >
                <div>
                    <input type="text" formControlName="name"  placeholder="Name" class="form-control" required>
                    <label *ngIf="submitted && formInput.name.errors" [ngClass] = "'error'"> Name is required </label>
                </div>
                <div>
                    <input type="text" formControlName="group" placeholder="Group" class="form-control" required>
                    <label *ngIf="submitted && formInput.group.errors" [ngClass] = "'error'"> Group is required </label>
                </div>
                <div>
                    <input type="text" formControlName="helpPath" placeholder="Path to Help File" class="form-control">
                </div>
                <div>
                    <input type="number" formControlName="indicator" placeholder="indicator" class="form-control">
                </div>
            </div>
    
        </figure>
        <div appMediaQueryFlexbox >
            <div appFlexItem>
                <figure>
                    <figcaption>Snips</figcaption>
                    <div formArrayName="snips" appMediaQueryFlexbox>
                        <div *ngFor="let snip of snips.controls; index as idx" class="form-group" appMediaQueryFlexbox>
                            <div>
                                <input tpe="text" [formControlName]="idx" placeholder="Snip" class="form-control">
                            </div>
                            <div>
                                <mat-icon (click)="addSnipField()">add_circle</mat-icon>
                                <mat-icon (click)="deleteSnipField(idx,$event)">delete_forever</mat-icon>
                            </div>
                        </div>
                    </div> 
                </figure>
            </div>
            <div appFlexItem>
                <figure>
                    <figcaption>Outputs</figcaption>
                    <div formArrayName="outputs" class="outputs" appMediaQueryFlexbox>
                        <div *ngFor="let item of outputs.controls; index as idx" class="form-group" appMediaQueryFlexbox>
                            <div [formGroupName]="idx" appMediaQueryFlexbox>
                                <input type="text" formControlName="output" placeholder="Output" class="form-control">
                            </div>
                            <div>
                                <mat-icon (click)="addOutput()">add_circle</mat-icon>
                                <mat-icon (click)="deleteOutput(idx,$event)">delete_forever</mat-icon>    
                            </div>
                        </div>
                    </div> 
                </figure>
            </div>

        </div>

        <div>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>