<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [(opened)]="opened">
    <!--mat-toolbar>Menu</mat-toolbar-->
    <mat-nav-list>
      <div>
        <a mat-list-item routerLink="/home" (click) = "opened = false" routerLinkActive="active"><mat-icon>home</mat-icon></a>
        <a mat-list-item routerLink="/portfolio" (click) = "opened = false" routerLinkActive="active">PORTFOLIO</a>
        <a mat-list-item routerLink="/others" (click) = "opened = false" routerLinkActive="active">OTHERS</a>
        <a mat-list-item routerLinkActive="active"[matMenuTriggerFor]="afterMenu">LIBRARY</a>
        <mat-menu class="submenu" #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item routerLink="/library/Angular" (click) = "opened = false" >Angular</button>
          <button mat-menu-item routerLink="/library/Rxjs" (click) = "opened = false" >Rxjs</button>
          <button mat-menu-item routerLink="/library/javaScript" (click) = "opened = false">Javascript</button>
          <button mat-menu-item routerLink="/library/jQuery" (click) = "opened = false" >JQuery</button>
          <button mat-menu-item routerLink="/library/css" (click) = "opened = false" >css</button>
        </mat-menu>
        <!--a mat-list-item routerLink="/assets" (click) = "opened = false" routerLinkActive="active">LIBRARY ASSETS</a-->

        <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login" (click) = "opened = false"  routerLinkActive="active">PRIVATE</a>
        <a mat-list-item *ngIf="isLoggedIn" id="logout" (click)="logout()">LOGOUT</a>
    
      </div>
      <a  mat-button href="https://github.com/raymondlwhuang/main" target="_blank">Source</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        class="nav-button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-content></ng-content>
    </mat-toolbar>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
