<div class="container mat-typography">
    <div class="detail">
    <h2>EDUCATION</h2>
        <div>
            <h3>Wills Business College.			1997 - 1998        </h3>
            <p>Diploma - Visual Software Developer/Analyst Program</p>
            
        </div>
        <div>
            <h3>Guangdong University of Technology						1982 - 1986</h3>
            <p>Construction Technology</p>
        </div>
        <h2>AWARDS/ACHIEVEMENTS</h2>
        <div>
            <p>Ontario Student of Excellence in Visual Software Developer/Analyst Program. - 1998 </p>
            
        </div>
        
        <h2>INTERESTS</h2>
        <div>
            <p>Interested in Electronics troubleshooting & Personal computer, Reading & Sports (winner of table tennis championship competition in George Brown College).   </p>
            
        </div>
    </div>    
    

</div>