<mat-tab-group>
    <mat-tab label="Dom"> 
        <app-dom></app-dom>
    </mat-tab>
    <mat-tab label="Object and Array"> 
        <app-frequent-usedjs></app-frequent-usedjs>
    </mat-tab>
    <mat-tab label="Functions">
          <app-demo-selector [group]="'function'"></app-demo-selector>
    </mat-tab>
    <mat-tab label="Rest and Spread">
<div appMediaQueryFlexbox class="demo-container">        
<textarea rows="10">
function sum(x, y, z) {
    return x + y + z;
}
const numbers = [1, 2, 3];
sum(...numbers);
sum(1,2,3); //same as
sum.apply(null, numbers));     //same as
</textarea>
<textarea rows="10">
//For a variadic function
function sum(...args){
    let total=0;
    args.forEach(arg=>total += arg);
    return total;
}
</textarea>
<textarea rows="10">
a = [1,2,3];
b = [1,2];
//Pushing elements in an array
a.push(...b);
a=[...a,...b]; //same as
a.push.apply(a,b);   //old fashioned
</textarea>
<textarea rows="10">
a = [];
b = [1,2,3];
a=[...b]; //copy array
c={a:1,b:2};
obj = {...c}; //copy object
d={a:3,c4};
e={a:1,b:2};
mergedObj = {...d,...e}; //merging Object

</textarea>
</div>
    </mat-tab>
</mat-tab-group>

